[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
discord
pytz

[packages]
discord-py = "*"
lavalink = "*"

[requires]
python_version = "3.8"

[scripts]
lava = "java -jar ./Lavalink.jar"
dev = "nodemon --exec python ./main.py"